[Unit]
Description=Zrok RestAPI Tunnel
After=network.target esp32-bridge.service
Wants=network.target
Requires=esp32-bridge.service

[Service]
Type=simple
User=root
Environment=HOME=/root
ExecStart=/usr/local/bin/zrok-reset-run.sh

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target